<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.icostel.arhitecturesample">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SampleApp"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".ui.splashscreen.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SplashScreen.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.newuser.NewUserActivity"
            android:label="@string/label_new_user"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ContentTransitions.WithActionBar" />

        <activity
            android:name=".ui.userdetails.UserDetailsActivity"
            android:label="@string/label_user_details"
            android:theme="@style/AppTheme.ContentTransitions.NoActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.loginuser.LoginUserActivity"
            android:label="@string/login_user"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/login_user"
            android:screenOrientation="portrait" />
    </application>

</manifest>